.therapist-profile-container {
    padding: 40px;
    max-width: 1000px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    box-shadow: 0 4px 10px rgba(168, 165, 167, 0.2);
}

.therapist-profile-content {
    display: flex;
    gap: 30px;
}

.therapist-profile-image img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.therapist-profile-info {
    flex: 1;
}

.therapist-profile-name {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #d63384; 
}

.therapist-profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.therapist-profile-table td {
    padding: 8px 15px;
    border-bottom: 1px solid #ddd;
}

.therapist-profile-section {
    margin-bottom: 20px;
}

.therapist-profile-title {
    color: #d63384;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.therapist-profile-list {
    padding: 10px;
    list-style: none;
}

.therapist-profile-list li {
    margin-bottom: 5px;
}
