.popup-content {
  background-color: white;
  border-radius: 8px;
  width: 90%;
  max-width: 1000px;
  height: auto;
  min-height: 400px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-in-out;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #635b5b;
  padding-bottom: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.popup-body {
  margin-top: 20px;
  padding-bottom: 20px;
  color: #333;
  font-size: 14px;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.table-container {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  overflow-x: auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  color: #333;
  font-size: 22px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ff4f9d;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

tr:hover {
  background-color: #f1f1f1;
  transition: background 0.3s ease-in-out;
}

td {
  color: #555;
}

/* Responsive */
@media (max-width: 600px) {
  th,
  td {
    padding: 8px;
    font-size: 14px;
  }
}
